 <div class="user-details">
   <h1> Who Am I? </h1>
   <p> {{site.user_description}} </p>
 </div>
 <div class="user">
   <div class="tech">
     <h2>Design</h2>
     <img src="https://img.icons8.com/plasticine/96/000000/sketch.png" />
     <img src="https://img.icons8.com/dusk/96/000000/adobe-photoshop.png" />
     <img src="https://img.icons8.com/dusk/96/000000/customer-insight.png" />
     <p>Sure software is important for design, but what's even more important? The user. A good user experience stems from the user, so that's where I start!</p> <p>Oh also I love messing around in Sketch and reading about user research.</p>
   </div>
   <div class="tech">
     <h2>Code</h2>
     <img src="https://img.icons8.com/dusk/96/000000/console.png" />
     <img src="https://img.icons8.com/nolan/96/code-fork.png" />
     <img src="https://img.icons8.com/dusk/96/000000/javascript.png" />
     <p>Most of my experience has been on the front-end. From digital design to final implementation, I've learned to learn and made it a mission to keep challenging myself -- I'm not stopping anytime soon! </p>
   </div>
   <div class="tech">
     <h2>Fun</h2>
     <img src="https://img.icons8.com/nolan/96/cards.png" />
     <img src="https://img.icons8.com/dusk/100/000000/reddit.png" />
     <img src="https://img.icons8.com/nolan/96/play-station.png" />
     <p>When I've got some time to myself my go-to is Reddit, where I can explore my vastly different interests. On the side I collect playing cards and fountain pens -- budget permitting. I'm an avid gamer, which I show myself every day.</p>
     <p>I've even hit the top tiers of more than a few competitive games!</p>
   </div>
 </div>
