<div class="user-details">
  <h1> Previous Work </h1>
  <h4 style="margin:-30px 0px">*Click an image for expanded view</h4>
  <h1></h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/assets/img/FamilyTree.jpg" | prepend: site.baseurl }}" title="Example search usage" class="image-popups">
      <img src="{{ "/assets/img/FamilyTree.jpg" | prepend: site.baseurl }}" alt="familytree" />
    </a>
  </div>
  <div class="contents">
    <h3 style="text-align: center;"> Georgia Tech AKPsi Family Tree </h3>
    <ul>
      <li><a href="https://d3js.org/">D3.js</a></li>
      <li><a href="https://observablehq.com">Observable</a></li>
      <li><a href="https://blockbuilder.org/">Blockbuilder</a></li>
    </ul>
    <p>The whole known big-little tree (300+ people) for Georgia Tech's chapter of Alpha Kappa Psi, GT's premier co-ed business fraternity. Created using D3.js with Observable + Blockbuilder.</p>
    <p>I manually collected the data through Google Forms and private messaging to flesh out the most accurate and up-to-date family tree.</p>
    <a class="project-link" href="https://gtakpsi.github.io">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="{{ "/assets/img/Beatmaster.png" | prepend: site.baseurl }}" title="In-game image -- red particles show a missed beat, circle surrounding the player is the health bar, hourglass shows how much slow down time is left" class="image-popups">
      <img width="60%" style="margin:0px 20%" src="{{ "/assets/img/Beatmaster.png" | prepend: site.baseurl }}" alt="beatmaster" />
    </a>
  </div>
  <div class="contents-right">
    <h3 style="text-align: center;"> Beatmaster </h3>
    <ul>
      <li><a href="https://unity.com/">Unity</a></li>
      <li><a href="https://www.sketch.com/">Sketch</a></li>
      <li><a href="https://unity.com/solutions/unity-ads">Unity Ads</a></li>
    </ul>
    <p>Rhythm based super-casual game (ie. Timberman/Flappy Bird/etc.) Beats appear on a never-ending track that increases in speed over time.</p>
    <p>Hit beats by tapping when crossing them! Track getting too fast? Slow down time by pressing on the left side of the screen, but be careful! You can only slow down time for so long... Play normally to regenerate the hourglass skill!</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/assets/img/CandyMap1.png" | prepend: site.baseurl }}" title="Choropleth map of Heath bar enjoyment by state" class="image-popups">
      <img width="98%" style="margin:0px 5%" src="{{ "/assets/img/CandyMap1.png" | prepend: site.baseurl }}" alt="choropleth1" />
    </a>
    <a href="{{ "/assets/img/CandyMap2.png" | prepend: site.baseurl }}" title="Choropleth map comparing candy enjoyment between 2 states -- shows hovering over bubbles to see per-candy data for either state" class="image-popups">
      <img width="98%" style="margin:10px 5%"  src="{{ "/assets/img/CandyMap2.png" | prepend: site.baseurl }}" alt="choropleth2" />
    </a>
  </div>
  <div class="contents">
    <h3 style="text-align: center;"> Candy Data Visualization </h3>
    <ul>
      <li><a href="https://d3js.org/">D3.js</a></li>
      <li><a href="https://www.javascript.com/">Javascript</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/SVG">SVGs</a></li>
    </ul>
    <p>Choropleth map of candy data that shows relative enjoyment across the states for a candy when selected. Color-coded with smooth transition animations, first attempt at D3 development.</p>
    <p>Select 2 states to compare their candy enjoyment (or dissatisfaction) on a candy-by-candy basis!</p>
    <a class="project-link" href="https://github.com/PaperSlate/InfoVisP5">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="{{ "/assets/img/Cubed.jpg" | prepend: site.baseurl }}" title="Gameplay with blocks falling from above" class="image-popups">
      <img width="100%" style="margin:0px 5%" src="{{ "/assets/img/Cubed.jpg" | prepend: site.baseurl }}" alt="cubed" />
    </a>
  </div>
  <div class="contents-right">
    <h3 style="text-align: center;"> Cubed </h3>
    <ul>
      <li><a href="https://unity.com/">Unity</a></li>
      <li><a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a></li>
      <li><a href="https://unity.com/features/mobile">Unity Mobile</a></li>
    </ul>
    <p>Unity mobile game in which you try to dodge blocks falling from the sky. Use your accelerometer to rotate and roll side to side and stay alive for as long as possible!</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/assets/img/RagsToRiches.jpg" | prepend: site.baseurl }}" title="Main shop screen -- a helm is for sale for 10 coins - the customer is pleased (lightbulb) and is purchasing" class="image-popups">
      <img width="100%" style="margin:0px 5%" src="{{ "/assets/img/RagsToRiches.jpg" | prepend: site.baseurl }}" alt="ragstoriches" />
    </a>
  </div>
  <div class="contents">
    <h3 style="text-align: center;"> Rags To Riches </h3>
    <ul>
      <li><a href="https://en.wikipedia.org/wiki/Game_Boy_Advance">Game Boy Advance</a></li>
      <li><a href="https://en.wikipedia.org/wiki/C_(programming_language)">C</a></li>
      <li><a href="https://www.stardewvalley.net/">Stardew Valley Sprites</a></li>
    </ul>
    <p>Game Boy Advance game where you play as a shopkeeper that has to make enough money each day in order to feed your family and get out of debt!</p>
    <p>Learn the best prices from the customers, pay attention to how they react to the items you're selling, and try to make the most profit possible!</p>
  </div>
</div>
