<div class="user-details">
  <h1> Previous Work </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="familytree" src="{{ "/assets/img/FamilyTree.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 style="text-align: center;"> Georgia Tech AKPsi Family Tree </h3>
    <ul>
      <li><a href="https://d3js.org/">D3.js</a></li>
      <li><a href="https://observablehq.com">Observable</a></li>
      <li><a href="https://blockbuilder.org/">Blockbuilder</a></li>
    </ul>
    <p>The whole known big-little tree (300+ people) for Georgia Tech's chapter of Alpha Kappa Psi, GT's premier co-ed business fraternity. Created using D3.js with Observable + Blockbuilder.</p>
    <p>I manually collected the data through Google Forms and private messaging to flesh out the most accurate and up-to-date family tree.</p>
    <a class="project-link" href="https://gtakpsi.github.io">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="beatmaster" width="60%" style="margin:0px 20%" src="{{ "/assets/img/Beatmaster.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 style="text-align: center;"> Beatmaster </h3>
    <ul>
      <li><a href="https://unity.com/">Unity</a></li>
      <li><a href="https://www.sketch.com/">Sketch</a></li>
      <li><a href="https://unity.com/solutions/unity-ads">Unity Ads</a></li>
    </ul>
    <p>Rhythm based super-casual game (ie. Timberman/Flappy Bird/etc.) Beats appear on a never-ending track that increases in speed over time.</p>
    <p>Hit beats by tapping when crossing them! Track getting too fast? Slow down time by pressing on the left side of the screen, but be careful! You can only slow down time for so long... Play normally to regenerate the hourglass skill!</p>
  </div>
</div>
